* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.container1 {
    background-color: #14171A;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.container1 h1 {
    margin: 0 20px;
}

.container1 a {
    color: whitesmoke;
    text-decoration: none;
}

.container2 {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 25px 0;
}


.box {
    background-color: white;
    width: 250px;
    height: 350px;
    text-align: center;
    padding: 60px 15px;
    box-shadow: 5px 5px 5px #494949;
}



.heading {
    font-size: 1.8em;
    font-weight: bold;
}

.para {
    font-size: 0.90em;
    line-height: 1.5;
}

.btn {
    width: 50%;
    background-color: #14171A;
    color: whitesmoke;
    border: none;
    padding: 10px 25px;
    border-radius: 35px;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    cursor: pointer;
    transform: translate(0, -3px);
}

.icon {
    font-size: 3em;
    margin-bottom: 20px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.icon:hover {
    transform: translate(0, -3px);
}

.box1 {
    transition: all 200ms ease-in-out;
}

.box1:hover {
    background-color: #1DA1F2;
    color: white;
}

.box2 {
    transition: all 200ms ease-in-out;
}

.box2:hover {
    background-color: #1DB954;
    color: white;
}

.box3 {
    transition: all 200ms ease-in-out;
}

.box3:hover {
    background-color: #FF0000;
    color: white;
}